---
import { Image } from "astro:assets"
import boho from '../../public/images/boho.jpg'
import passGen from '../../public/images/passGen.jpg'
import snake from '../../public/images/snake.jpg'
---

<section class="px-0 my-20 overflow-hidden">
    <h1 class="text-center text-4xl font-bold lg:text-6xl">Proyectos personales</h1>
    <ul class="my-20 wrapper_projects gap-20">
        <li class="">
            <div class="overflow-hidden shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0 w-[300px]  h-[150px] md:w-[600px] md:h-[300px]"></div>
                <Image class="h-[400px] w-[600px]" src={passGen} alt='project'/>
                <!-- <img class="absolute inset-0 bg-cover bg-center z-0" width="500" src="../../public/images/passGen.jpg" alt=""> -->
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white"><p>Generador de contraseñas</p></div>
              </div>
        </li>
        <li class="">
            <div class="shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0 w-[300px] h-[150px] md:w-[600px] md:h-[300px]"  style={`background-image: ${boho};`}></div>
                <Image class="h-full" src={boho} alt='project'/>
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white">Boho E-commerce</div>
              </div>
        </li>
        <li class="">
            <div class="shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0  w-[300px] h-[150px] md:w-[600px] md:h-[300px]" style={`background-image: ${snake};`}>
                </div>
                <Image class="h-full" src={snake} alt='project'/>
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white">Snake game</div>
              </div>
        </li>
        <!-- Repeat -->
        <li class="">
            <div class="overflow-hidden shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0 w-[300px]  h-[150px] md:w-[600px] md:h-[300px]"></div>
                <Image class="h-full" src={passGen} alt='project'/>
                <!-- <img class="absolute inset-0 bg-cover bg-center z-0" width="500" src="../../public/images/passGen.jpg" alt=""> -->
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white"><p>Generador de contraseñas</p></div>
              </div>
        </li>
        <li class="">
            <div class="shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0 w-[300px] h-[150px] md:w-[600px] md:h-[300px]"  style={`background-image: ${boho};`}></div>
                <Image class="h-full" src={boho} alt='project'/>
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white">Boho E-commerce</div>
              </div>
        </li>
        <li class="">
            <div class="shadow-2xl shadow-gray-300 h-[150px] w-[300px] md:w-[600px] md:h-[300px] bg-red-100 relative hover:scale-110 transition-all duration-100 hover:z-50">
                <div class="absolute inset-0 bg-cover bg-center z-0  w-[300px] h-[150px] md:w-[600px] md:h-[300px]" style={`background-image: ${snake};`}>
                </div>
                <Image class="h-full" src={snake} alt='project'/>
                <div class="opacity-0  hover:opacity-100 bg-black h-full absolute top-0 right-0 left-0 bottom-0 text-2xl font-bold flex justify-center items-center bg-opacity-75 text-white">Snake game</div>
              </div>
        </li>
    </ul>
</section>
